<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {variant: 'compact'}); %>
</header>

<main>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
    <div class="mt-4 p-5 bg-light text-dark rounded">
      <h1>About me</h1>
      <h2>Lam, Tsz To</h2>
      <h4>Preferred name: Francis</h4>
      <p><%= summary %></p>
      <!-- = option: return escaped HTML (input string = remove the quotation marks and show) -->
      <%= experienceTitle%>
      <ul>
        <% experiences.forEach(function(experience) { %>
          <li>
            <strong><%= experience.name %></strong>
            : <%= experience.description %>          
          </li>
        <% }); %>
      </ul>
      <br>
      <%= educationTitle%>
      <ul>
        <% educations.forEach(function(education) { %>
          <li>
            <strong><%= education.program %></strong>
            : <%= education.institution %>
            (<%= education.year %>)          
          </li>
        <% }); %>
      </ul>
      <button id="resumeBtn" class="btn-dark btn">Resume</button>
      </div>
  </div>

  <div class="col-sm-3">
    <div class="well pt-4">
      <img src="img/LeftCropped.jpg" alt="Personal photo" style="width: 75%; border-radius: 5px">
    </div>
    <div>
      
    </div>
  </div>
</div>
<div id="resumePDF">
  <h1>Resume</h1>
    <object data="Resume Tsz To LAM.pdf" type="application/pdf" width="100%" height="500px">
      <p>Unable to display PDF file. <a href="Resume Tsz To LAM.pdf">Download</a> instead.</p>
    </object>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>