<!-- projects page-->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {variant: 'compact'}); %>
</header>

<main>
<div class="mt-4 mx-1 p-1 bg-light text-dark rounded row">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
    <h1>Projects</h1>
    <h5>Tech related: <%= projectsTitle %></h5>
  </div>
  <!--Credit: https://github.com/StartBootstrap/startbootstrap-personal-->
  <div class="d-flex flex-wrap justify-content-center">
    <!-- import projects content from routes-->
    <% projects.forEach(function(project) { %>
      <div class="col-sm-4 card shadow rounded-4 border-0 m-3 p-2" style="min-width: 300px;"> <!--cards with border start here-->
        <div class="card-body p-0 m-2 align-items-center">
          <div class="d-flex align-items-center" style="min-height: 180px;">
            <img class="img-fluid" src="<%= project.image%>" alt=" " >
          </div>
          <div class="p-5">
              <h2 class="fw-bolder"><%= project.name %></h2>
              <p><%= project.description %></p>
              <a href="<%= project.link %>">Link</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
  <!-- gallery zone-->
  <div class="p-5 mb-4 bg-light rounded-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h5>Art related: Blending photography and painting<br></h5> 
      <h6>P.S.: Artwork may fail to load for some desktop users. If that happens, try press F12 button twice. </h6><br>
      <div id="container1">
        <img src="img/EasternView.jpg" />
        <img src="img/Acrylic_EasternView.jpg" />
      </div> <br>
      <div id="container2">
        <img src="img/Saikung.jpg" />
        <img src="img/Acrylic_Saikung.jpg" />
      </div>
    </div>
  </div>  
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>