<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {variant: 'compact'}); %>
</header>

<main>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-6">
    <div class="mt-4 p-5 bg-light text-dark rounded">
      <h1>Services</h1>
      <p><%= tagline %></p>
      <div>
        <ul>
          <% skills.forEach(function(skill) { %>
            <li>
              <strong><%= skill.name %></strong>
              : <%= skill.description %>          
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well pt-4">
      <img src="img/specsAndScreen.jpg" alt="Glasses and screen" style="width: 100%; border-radius: 5px">
      <p class="pt-3" style="font-size: x-small; color:darkgray;" >Image credit: https://www.gettyimages.ca/detail/photo/close-up-portrait-of-software-engineer-working-on-royalty-free-image/1355638834</p>
      <button class="btn btn-dark px-4"><a href="<%= linkToProjects%>" style="text-decoration: none; color: white">Projects</button>
      </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>